#dialog{
    transform-origin: center top; z-index: 2015; position: absolute; top: 80px; left: 1220px;
}
#market-header {
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 2px #f9f9f9;
}
a {
    text-decoration: none;
    border: none;
}
.account-form-tips {
    color: #9b9b9b;
    margin-bottom: 14px;
    display: block;
}
.account-form-tips a {
    color: #41ac52;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.account-form-codes .account-form-field-code a {
    color: #41ac52;
}
.account-form-codes .account-form-field-code {
    position: absolute;
    padding: 0 80px;
    right: 0;
    top: 0;
    line-height: 42px;
}
#market-header .header-inner {
    zoom: 1;
    width: 1100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
#market-header .logo {
    float: left;
    font-size: 26px;
    color: #44883e;
    line-height: 100px;
}
.el-button--text {
    color: #6e6e6e;
}
.mui-icon {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#market-header .market-user {
    float: right;
    line-height: 100px;
    margin-left: 20px;
}
#market-header .market-user .user-people {
    display: inline-block;
    cursor: pointer;
}
#market-header .market-user .user-people .user-pic {
    color: #6e6e6e;
    font-size: 14px;
}
#market-header .market-user .user-people .user-pic img {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 4px;
}
.mui-icon.logo:before {
    content: "豆瓣|豆品";
}
.el-dialog__body {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}
.el-button--primary {
    color: #FFF;
    background-color: rgba(66,189,86,.5);
    border-color: rgba(66,189,86,.5);
    width: 300px;
    height: 40px;
}

.account-form-raw {
    margin-bottom: 10px;
}
.account-form-raw {
    margin-bottom: 20px;
    position: relative;
}
.account-form-label {
    display: none;
}
.account-form-label {
    float: left;
    display: block;
    line-height: 40px;
    height: 40px;
    width: 60px;
    font-size: 13px;
}
.account-form-field {
    display: block;
    width: 100%;
    position: relative;
}
.account-form-field {
    margin-bottom: 10px;
    margin: 0;
    width: 350px;
    display: inline-block;
}

.account-form-field {
    position: relative;
    margin-bottom: 10px;
    margin: 0;
    width: 350px;
    display: inline-block;
}
.account-form-field input {
    box-shadow: none;
}
.account-form-field-phone input {
    padding-left: 60px;
    padding-right: 40px;
}
input[type=number], input[type=password], input[type=phone], input[type=text], textarea {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    background: transparent;
}
.account-form-field-phone input {
    padding-left: 60px;
    padding-right: 40px;
}
input[type=number], input[type=password], input[type=phone], input[type=text], textarea {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    background: transparent;
}
.account-form-input {
    width: 280px;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #e4e6e5;
}
.account-form-input {
    width: 280px;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #e4e6e5;
}

a:focus, button, input {
    outline: 0;
}
.account-form-field-area-code {
    width: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    overflow: hidden;
}
.account-form-field-area-code {
    top: 0;
    left: 0;
}
.account-form-field-area-code {
    width: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    overflow: hidden;
}
.account-form-field-area-code {
    top: 0;
    left: 0;
}

body, div, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

.account-form-field-area-code-label {
    width: 100%;
    margin: 0;
    padding-right: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    background: none;
    cursor: pointer;
}
.account-form-field-area-code-label {
    position: relative;
    padding-right: 5px;
    line-height: 43px;
    margin-right: 20px;
}
.account-form-field-area-code-label {
    width: 100%;
    margin: 0;
    padding-right: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    background: none;
    cursor: pointer;
}
.account-form-field-area-code-label {
    position: relative;
    padding-right: 5px;
    line-height: 43px;
    margin-right: 20px;
}
.el-dropdown-menu__item {
    top: 49px;
    left: 1215px;
}

.el-dropdown {
    vertical-align: top;
}
.el-dropdown + .el-dropdown {
margin-left: 15px;
}
.el-icon-arrow-down {
font-size: 12px;
}

.el-popper[x-placement^=bottom] {
    margin-top: -28px;
    left: 1220px!important;
}

.el-tabs__item:hover {
    color: #333;
}
.el-tabs__item.is-active {
    color: #333;
}




#dialog{
    transform-origin: center top; z-index: 2015; position: absolute; top: 80px; left: 1220px;
}
#market-header {
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 2px #f9f9f9;
}
a {
    text-decoration: none;
    border: none;
}
.account-form-tips {
    color: #9b9b9b;
    margin-bottom: 14px;
    display: block;
}
.account-form-tips a {
    color: #41ac52;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.account-form-codes .account-form-field-code a {
    color: #41ac52;
}
.account-form-codes .account-form-field-code {
    position: absolute;
    padding: 0 80px;
    right: 0;
    top: 0;
    line-height: 42px;
}
.header-tab a{
    padding-right: 15px;
    font-size: 100%;
}
#market-header .header-inner {
    zoom: 1;
    width: 1100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
#market-header .logo {
    font-size: 26px;
    color: #44883e;
    text-align: left;
    margin-top: 32.8px;
}
.el-button--text {
    color: #6e6e6e;
}
.mui-icon {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#market-header .market-user {
    float: right;
    line-height: 100px;
    margin-left: 20px;
}
#market-header .market-user .user-people {
    display: inline-block;
    cursor: pointer;
}
#market-header .market-user .user-people .user-pic {
    color: #6e6e6e;
    font-size: 14px;
}
#market-header .market-user .user-people .user-pic img {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 4px;
}
.mui-icon.logo:before {
    content: "豆瓣|豆品";
}
.el-dialog__body {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}
.el-button--primary {
    color: #FFF;
    background-color: rgba(66,189,86,.5);
    border-color: rgba(66,189,86,.5);
    width: 280px;
    height: 40px;
}

.account-form-raw {
    margin-bottom: 10px;
}
.account-form-raw {
    margin-bottom: 20px;
    position: relative;
}
.account-form-label {
    display: none;
}
.account-form-label {
    float: left;
    display: block;
    line-height: 40px;
    height: 40px;
    width: 60px;
    font-size: 13px;
}
.account-form-field {
    display: block;
    width: 100%;
    position: relative;
}
.account-form-field {
    margin-bottom: 10px;
    margin: 0;
    width: 350px;
    display: inline-block;
}

.account-form-field {
    position: relative;
    margin-bottom: 10px;
    margin: 0;
    width: 350px;
    display: inline-block;
}
.account-form-field input {
    box-shadow: none;
}
.account-form-field-phone input {
    padding-left: 60px;
    padding-right: 40px;
}
input[type=number], input[type=password], input[type=phone], input[type=text], textarea {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    background: transparent;
}
.account-form-field-phone input {
    padding-left: 60px;
    padding-right: 40px;
}
input[type=number], input[type=password], input[type=phone], input[type=text], textarea {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    background: transparent;
}
.account-form-input {
    width: 280px;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #e4e6e5;
}
.account-form-input {
    width: 280px;
    font-size: 13px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #e4e6e5;
}

a:focus, button, input {
    outline: 0;
}
.account-form-field-area-code {
    width: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    overflow: hidden;
}
.account-form-field-area-code {
    top: 0;
    left: 0;
}
.account-form-field-area-code {
    width: 50px;
    position: absolute;
    top: 1px;
    left: 1px;
    overflow: hidden;
}
.account-form-field-area-code {
    top: 0;
    left: 0;
}

body, div, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

.account-form-field-area-code-label {
    width: 100%;
    margin: 0;
    padding-right: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    background: none;
    cursor: pointer;
}
.account-form-field-area-code-label {
    position: relative;
    padding-right: 5px;
    line-height: 43px;
    margin-right: 20px;
}
.account-form-field-area-code-label {
    width: 100%;
    margin: 0;
    padding-right: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    background: none;
    cursor: pointer;
}
.account-form-field-area-code-label {
    position: relative;
    padding-right: 5px;
    line-height: 43px;
    margin-right: 20px;
}
.el-dropdown-menu__item {
    top: 49px;
    left: 1215px;
}

.el-dropdown {
    vertical-align: top;
}
.el-dropdown + .el-dropdown {
margin-left: 15px;
}
.el-icon-arrow-down {
font-size: 12px;
}

.el-popper[x-placement^=bottom] {
    margin-top: -28px;
    left: 1220px!important;
}

.el-tabs__item:hover {
    color: #333;
}
.el-tabs__item.is-active {
    color: #333;
}
.header-content {
    margin-top: 15px;
    text-align: left;
}
.header-content:after {
    content: "";
    display: table;
    clear: both;
}
.product-name{
    float: left;
    font-family: Lantinghei SC;
    font-size: 29px;
    font-weight: 400;
    line-height: 1;
    color: #3e3a39;
    letter-spacing: 2px;
}
.product-extra{
    float: right;
}
.header-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: #dd1944;
}
.header-order-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    background: #dd1944;
    text-align: center;
    margin-left: 10px;
}
.price-item {
    font-family: Lantinghei SC;
    margin-right: 10px;
}
.header-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: #dd1944;
}
.header-content .header-price .price-num {
    font-size: 24px;
    margin-left: 2px;
    margin-right: 4px;
}
.header-content .header-order-button .buy-btn {
    font-weight: 300;
    color: #fff;
}
.buy-btn {
    display: block;
}
.header-tab {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: 300;
    color: #3e3a39;
    margin-right: 33px;
}
.header-extra {
    /* display: inline-block; */
    float: right;
}
.fixed-header {
    line-height: 52px;
    position:fixed;
    top:0px;
    

    left: 0px;
    right: 0px;
    margin-left:auto;
    margin-right:auto;
}
.fixed-header {
    line-height: 52px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background: #f9f9f9;
}
.product-hd {
    margin-bottom: 22px;
}
.spu-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}
.spu-price {
    display: inline-block;
    padding-top: 5px;
    padding-left: 30px;
    font-size: 18px;
    color: #dd1944;
}
.cover {
    width: 200px;
    height: 200px;
}
.photo-wrap {
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #f7f7f7;
}
 .box img {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hd {
    font-weight: 500;
    padding-bottom: 3px;
    display: block;
}
.bd {
    padding-bottom: 15px;
}
 .mui-number-picker {
    border: none;
 }
 .mui-number-picker .disabled.mui-number-picker-button {
    color: #d8d8d8;
    cursor: not-allowed;
}
.mui-number-picker .mui-number-picker-button {
    height: 30px;
    line-height: 30px;
    background-color: #f9f9f9;
    color: #ababac;
    width: 30px;
    cursor: pointer;
    color: #3e3a39;
    font-weight: 700;
    font-size: 14px;
}
.mui-number-picker .mui-number-picker-button, .mui-number-picker .number-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mui-icon {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.number-content {
    padding-left: 5px;
    padding-right: 5px;
    width: 35px;
    color: #3e3a39;
}
.mui-number-picker input {
    border: none;
}
.mui-number-picker .mui-number-picker-button, .mui-number-picker .number-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


mui-number-picker .mui-number-picker-button {
    height: 30px;
    line-height: 30px;
    background-color: #f9f9f9;
    color: #ababac;
    width: 30px;
    cursor: pointer;
    color: #3e3a39;
    font-weight: 700;
    font-size: 14px;
}

.mui-number-picker .mui-number-picker-button, .mui-number-picker .number-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mui-icon {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

.mui-number-picker .mui-number-picker-button {
    height: 30px;
    line-height: 30px;
    background-color: #f9f9f9;
    color: #ababac;
    width: 30px;
    cursor: pointer;

    color: #3e3a39;
    font-weight: 700;
    font-size: 14px;
}
.mui-number-picker .mui-number-picker-button, .mui-number-picker .number-content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mui-icon {
    font-family: iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}